{% extends 'base.html' %}

{% block head %}
<title>Answer</title>
{% endblock %}

{% block body %}
<br>
<main role="main">
<div class="jumbotron">
  <div class="col-sm-8 mx-auto">
      <div id="answer_color">
        {% if user_answer == right_city_return[0][0] %}
            <h2><font color="green">You're right!</font></h2>
        {% else %}
            <h2><font color="red">Nope, you're wrong...</font></h2>
        {% endif %}
      </div>
        <br>
        <h3>
          Question was: <i>which city lies more <b>{{ drawn_direction }}</b></i>?
        </h3>
          <h4>Your answer:
          <font id="user_answer" size=6>{{ user_answer }}</font>
          </h4>
        <hr>
        <table align="center" style="margin: 3px; border: 1px solid black; text-align: center">
            <tr style="background-color: #663399">
                <th style="color: white">City</th>
                {% if drawn_direction in ['North', 'South'] %}
                    <th style="color: #32CD32">Latitude</th>
                    <th style="color: white">Longitude</th>
                {% else %}
                    <th style="color: white">Latitude</th>
                    <th style="color: #32CD32">Longitude</th>
                {% endif %}
                <th style="color: white">Country</th>
                <th style="color: white">Continent</th>
            </tr>
            <tr style="background-color: aliceblue">
                <td style="padding: 1rem">{{ right_city_return[0][0] }}</td>
                <td style="padding: 1rem">{{ right_city_return[0][1] }}</td>
                <td style="padding: 1rem">{{ right_city_return[0][2] }}</td>
                <td style="padding: 1rem">{{ right_city_return[0][3] }}</td>
                <td style="padding: 1rem">{{ right_city_return[0][4] }}</td>
            </tr>
            <tr style="background-color: #c2d4e4">
                <td style="padding: 1rem">{{ wrong_city_return[0][0] }}</td>
                <td style="padding: 1rem">{{ wrong_city_return[0][1] }}</td>
                <td style="padding: 1rem">{{ wrong_city_return[0][2] }}</td>
                <td style="padding: 1rem">{{ wrong_city_return[0][3] }}</td>
                <td style="padding: 1rem">{{ wrong_city_return[0][4] }}</td>
            </tr>
        </table>
        <br>
        <p>
          <a class="btn btn-warning" href="{{ previous_path }}" role="button">Play Again</a>
        </p>
      <div style="width:100%; text-align: right;">
      <div style="display: inline-block;"><a class="btn btn-success" href="/" role="button">Back to Homepage</a></div>
      </div>
      </div>
</div>
</main>
{% endblock %}