{% extends 'base.html' %}

{% block head %}
<title>World Cities Game</title>
{% endblock %}

{% block body %}
<br>
<main role="main">
<div class="jumbotron">
  <div class="col-sm-8 mx-auto">
    <h1>Welcome</h1>
    <p>On the next page, two European cities will be drawn for you.</p>
    <h6>Your task will be to answer the question about their mutual location.</h6>
    <p>
      <a class="btn btn-success" href="/game" role="button">Let's Play &raquo;</a>
    </p>
  </div>
</div>
</main>
{% endblock %}