{% extends 'base.html' %}

{% block head %}
<title>World Cities Game</title>
{% endblock %}

{% block body %}
<br>
<main role="main">
<div class="jumbotron">
  <div class="col-sm-8 mx-auto">
    <h1>Welcome</h1>
    <p>On the next page, two cities will be drawn for you.</p>
    <h6>Your task will be to answer the question about their mutual location.</h6>
    <hr>
    <div style="width:100%; text-align: left;">
      <div style="display: inline-block;"><a class="btn btn-info" href="/europe/game" role="button">Europe</a></div>
      <div style="display: inline-block;"><a class="btn btn-warning" href="/capitals/game" role="button">Capitals</a></div>
      <div style="display: inline-block;"><a class="btn btn-danger" href="/world/game" role="button">World</a></div>
    </div>
  </div>
</div>
</main>
{% endblock %}